<p id="notice"><%= notice %></p>
<div class="container">

  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <input class="form-control" type="search" placeholder="search for a record" />
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <%= link_to "Create a new record", new_record_path, :class =>"btn btn-sm btn-tag" %>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <h5><%= @records.count %>&nbsp;total records</h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h3>Tags</h3>
      <% @topics.each do |t| %>
        <h5 style="display:inline;"><%= link_to t.name+':'+t.records.count.to_s, topic_path(t.id), :class=>"btn btn-xs btn-tag" %></h5>&nbsp;
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 index-list-box">
      <h5>Most frequently viewed</h5>
        <% @frequently_viewed.each do |fv| %>
          <div class="index-list-entry">><%= link_to fv.title, record_path(fv.id), :class=>"list-item-link" %><br>
            <% fv.topics.each do |fvtop| %>
              <%= link_to fvtop.name+' ', topic_path(fvtop.id), :class=>"btn btn-xs btn-tag" %>&nbsp;
            <% end %>
          </div>
        <% end %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 index-list-box">
      <h5>Recently viewed</h5>
        <% @recently_viewed.each do |rv| %>
          <div class="index-list-entry">><%= link_to rv.title, record_path(rv.id), :class=>"list-item-link" %><br>
            <% rv.topics.each do |rvtop| %>
              <%= link_to rvtop.name+' ', topic_path(rvtop.id), :class=>"btn btn-xs btn-tag" %>&nbsp;
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 index-list-box">
      <h5>Recently added</h5>
        <% @recently_added.each do |ra| %>
          <div class="index-list-entry">><%= link_to ra.title, record_path(ra.id), :class=>"list-item-link" %><br>
            <% ra.topics.each do |ratop| %>
              <%= link_to ratop.name+' ', topic_path(ratop.id), :class=>"btn btn-xs btn-tag" %>&nbsp;
            <% end %>
        </div>
      <% end %>
    </div>
  </div> <!-- close row -->


</div> <!-- close container -->










<!-- <h1>Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %> -->
