
<div class="container">

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h1 class="title-link"><%= link_to "Technopedia", records_path %></h1>
      </div>
    </div>


  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <input class="form-control" type="search" placeholder="search disabled" disabled />
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <% if can? :create, Record %>
        <%= link_to "Create a new record", new_record_path, :class =>"btn btn-sm btn-tag" %>
      <% end %>
    </div>
    <div class="col-sm-2 col-sm-offset-2">
      <h5><%= @records.count %>&nbsp;total records</h5>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-11 col-sm-offset-1 index-list-box">
      <h5>Topic: # of entries</h5>
      <div class="index-list-entry">
        <% @topics.each do |t| %>
          <!-- <h5 style="display:inline;"><%= link_to t.name+':'+t.records.count.to_s, topic_path(t.id), :class=>"btn btn-xs btn-tag" %></h5>&nbsp; -->
          <%= link_to topic_path(t.id), :class => "btn btn-xs btn-tag" do %>
            <%= t.name %>&nbsp;<%= content_tag :span, t.records.count.to_s, :class => "badge" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-sm-3 col-sm-offset-1 index-list-box">
      <h5>Most frequently viewed</h5>
        <% @frequently_viewed.each do |fv| %>
          <div class="index-list-entry"><%= link_to fv.times_viewed.to_s+' > '+fv.title, record_path(fv.id), :class=>"list-item-link" %><br>
            <% fv.topics.each do |fvtop| %>
              <%= link_to fvtop.name+' ', topic_path(fvtop.id), :class=>"btn btn-xs btn-tag" %>&nbsp;
            <% end %>
          </div>
        <% end %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 index-list-box">
      <h5>Recently viewed</h5>
        <% @recently_viewed.each do |rv| %>
          <div class="index-list-entry"><%= link_to rv.updated_at.strftime('%b %d, %y')+' > '+rv.title, record_path(rv.id), :class=>"list-item-link" %><br>
            <% rv.topics.each do |rvtop| %>
              <%= link_to rvtop.name+' ', topic_path(rvtop.id), :class=>"btn btn-xs btn-tag" %>&nbsp;
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="col-sm-3 col-sm-offset-1 index-list-box">
      <h5>Recently added</h5>
        <% @recently_added.each do |ra| %>
          <div class="index-list-entry"><%= link_to ra.created_at.strftime('%b %d, %y')+' > '+ra.title, record_path(ra.id), :class=>"list-item-link" %><br>
            <% ra.topics.each do |ratop| %>
              <%= link_to ratop.name+' ', topic_path(ratop.id), :class=>"btn btn-xs btn-tag" %>&nbsp;
            <% end %>
        </div>
      <% end %>
    </div>

  </div> <!-- close row -->


</div> <!-- close container -->
