<p id="notice"><%= notice %></p>
<div class="container">

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h3><%= @record.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <%= simple_format(@record.body) %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <p>Topics:
      <% @record.topics.each do |t| %>
        <%= link_to t.name, topic_path(t.id), :class=>"btn btn-xs btn-tag" %>
      <% end %>
    </p>
    </div>
  </div>

</div> <!-- closes container -->

<!--
<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %> -->
