<!DOCTYPE html>
<html>
  <head>
    <title>My Tome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#fafafa">

    <div class='container-fluid'>

      <div class='row'>
        <%= link_to root_path do %>
          <%= image_tag 'blue-banner-2.png', :class => 'img-responsive' %>
          <% end %>
      </div>

    </div>

    <div class='container'>

      <div class='row'>

        <div class='col-md-4 col-md-offset-8' style="margin-top:7px;">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>
        </div>

      </div>

    </div>
        <%= yield %>

    <div class="container-fluid">
      <div class="row footer-div">
        <div class="col-md-4 col-md-offset-8" style="margin-top:50px; color:white;">
          <% if user_signed_in? %>
            Signed in as <%= current_user.name %>.&nbsp;
            <%= link_to "Edit profile", edit_user_registration_path, :class =>"btn btn-xs btn-white" %> Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class =>"btn btn-xs btn-white" %>
          <% else %>

          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
