<!DOCTYPE html>
<html>
  <head>
    <title>My Tome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#fafafa">
    <%= gflash %>

    <div class='container-fluid'>
      <div class='row'>
        <%= image_tag 'red-blue banner-2.png', :class => 'img-responsive' %>
      </div>
    </div>

      <div class="nav-wrapper">
        <nav class="navbar navbar-inverse" style="margin-bottom:0">
          <div class="container-fluid">
            <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsing-navbar-content" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <%= link_to image_tag("tome-logo.png"), root_path %>
           </div> <!-- close navbar-header -->
           <div class="collapse navbar-collapse" id="collapsing-navbar-content">
             <ul class="nav navbar-nav">
               <li><%= link_to "Records", records_path %></li>
               <li><%= link_to "Topics", topics_path %></li>
             </ul>
             <ul class="nav navbar-nav navbar-right">
               <li><%= link_to "MasterTask", "https://mastertask.herokuapp.com", target: "blank", rel: "alternate" %></li>
               <% if user_signed_in? %>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, :method => "delete" %></li>
               <% end %>
             </ul>
           </div>
          </div> <!-- close container-fluid -->
        </nav>
      </div>


    </div>

    <%= yield %>

  </body>
</html>
