<!DOCTYPE html>
<html>
  <head>
    <title>Tome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>

      <div class='row'>
        <h6 class='text-center'>
          <%= link_to 'Technopedia', records_path %> | <%= link_to 'Journal', monographs_path %> | <%= link_to 'Projects/Tasks' %>
        </h6>
      </div>

      <div class='row'>
        <div class='col-sm-4 col-sm-offset-8'>
          <% if user_signed_in? %>
            Signed in as <%= current_user.name %>.&nbsp;
            <%= link_to "Edit profile", edit_user_registration_path, :class =>"btn btn-xs btn-tag" %> Not you?
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class =>"btn btn-xs btn-tag" %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class =>"btn btn-xs btn-tag" %> or <%= link_to "sign in", new_user_session_path, :class =>"btn btn-xs btn-tag" %>
          <% end %>

          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, id: "flash_#{name}" %>
          <% end %>

        </div>
      </div>
      
    </div>
              <%= yield %>
  </body>
</html>
